# Dependencies
node_modules/
.pnp
.pnp.js

# Build and binary artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# OS and Editor files
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
